# LIMPEZA E MANIPULAÇÃO DOS DADOS

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('zomato.csv')

In [4]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [4]:
df_limpo = df.copy()

In [56]:
    # Dicionário completo de mapeamento Country Code -> Country Name
    mapeamento_paises = {
        1: 'India',
        14: 'Australia', 
        30: 'Brazil',
        37: 'Canada',
        94: 'Indonesia',
        148: 'New Zealand',
        162: 'Philippines',
        166: 'Qatar',
        184: 'Singapore',
        189: 'South Africa',
        191: 'Sri Lanka',
        208: 'Turkey',
        214: 'United Arab Emirates',
        215: 'United Kingdom',
        216: 'United States',
        356: 'India'  # Código alternativo para India
    }

    # inserindo uma nova coluna com os nomes dos países
    df_limpo['Country'] = df_limpo['Country Code'].map(mapeamento_paises)
df_limpo

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,1,0,0,0,3,4.6,3F7E00,Excellent,619,Philippines
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,1,0,0,0,3,4.6,3F7E00,Excellent,619,Philippines
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,0,0,0,0,4,4.7,3F7E00,Excellent,469,Philippines
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,0,0,0,0,3,4.4,5BA829,Very Good,867,Philippines
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,0,0,0,0,3,4.4,5BA829,Very Good,858,Philippines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7522,5912546,Eataly,208,İstanbul,"Zorlu Center AVM, Köprü Katı, Levazım Mahalles...","Zorlu Center AVM, Levazım, Beşiktaş","Zorlu Center AVM, Levazım, Beşiktaş, İstanbul",29.017326,41.065322,"Italian, Pizza, Fresh Fish",...,0,0,0,0,4,4.3,5BA829,Very Good,1367,Turkey
7523,5913006,Tarihi Çınaraltı Aile Çay Bahçesi,208,İstanbul,"Çengelköy Mahallesi, Çınaraltı Camii Sokak, No...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052620,41.050280,"Fast Food, Izgara, Seafood, Tea, Coffee",...,0,0,0,0,2,4.5,3F7E00,Excellent,1172,Turkey
7524,5923535,Boon Cafe & Restaurant,208,İstanbul,"Çengelköy Mahallesi, Çengelköy Caddesi, Kara S...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052623,41.050717,Restaurant Cafe,...,0,0,0,0,4,4.2,5BA829,Very Good,1160,Turkey
7525,5914190,Kanaat Lokantası,208,İstanbul,"Sultantepe Mahallesi, Selmani Pak Caddesi, No ...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.016590,41.025741,"Home-made, Izgara",...,0,0,0,0,3,4.0,5BA829,Very Good,770,Turkey
7526,5913508,Katibim,208,İstanbul,"Mimar Sinan Mahallesi, Harem Sahilyolu, No 53,...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.010808,41.025501,"Restaurant Cafe, Kebab, Turkish Pizza",...,0,0,0,0,4,4.2,5BA829,Very Good,1141,Turkey

In [6]:
def limpeza_dados(df):
      
    # # Antes de remover NaN
    # print("ANTES da remoção:")
    # print(f"Total de NaN: {df.isna().sum().sum()}")
    # print(f"Linhas com pelo menos 1 NaN: {df.isna().any(axis=1).sum()}")
    # print(f"Linhas totais: {len(df)}")
        
    # Remover NaN
    df_limpo = df_limpo.dropna()

    # # Depois de remover NaN --> Teste
    # print("\nDEPOIS da remoção:")
    # print(f"Total de NaN: {df_limpo.isna().sum().sum()}")
    # print(f"Linhas com pelo menos 1 NaN: {df_limpo.isna().any(axis=1).sum()}")
    # print(f"Linhas totais: {len(df_limpo)}")
    # print(f"Linhas removidas: {len(df) - len(df_limpo)}")
    
    # Remover os espaços 
    df_limpo = df_limpo.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

    # Converter object para string
    coluna = ['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose', 'Cuisines', 'Currency', 'Rating color', 'Rating text']
    colunas_existentes = [col for col in coluna if col in df_limpo.columns]
    
    for coluna in colunas_existentes:
        if coluna in df_limpo.columns:
            df_limpo[coluna] = df_limpo[coluna].astype(str).str.strip()
         
    return df_limpo

In [7]:
def creat_price_type(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return 'expensive'
    else:
        return 'gourmet'

In [8]:
COLORS = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
}
def color_name(color_code):
    return COLORS[color_code]

In [9]:
df_limpo

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,1,0,0,0,3,4.6,3F7E00,Excellent,619,Philippines
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,1,0,0,0,3,4.6,3F7E00,Excellent,619,Philippines
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,0,0,0,0,4,4.7,3F7E00,Excellent,469,Philippines
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,0,0,0,0,3,4.4,5BA829,Very Good,867,Philippines
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,0,0,0,0,3,4.4,5BA829,Very Good,858,Philippines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7522,5912546,Eataly,208,İstanbul,"Zorlu Center AVM, Köprü Katı, Levazım Mahalles...","Zorlu Center AVM, Levazım, Beşiktaş","Zorlu Center AVM, Levazım, Beşiktaş, İstanbul",29.017326,41.065322,"Italian, Pizza, Fresh Fish",...,0,0,0,0,4,4.3,5BA829,Very Good,1367,Turkey
7523,5913006,Tarihi Çınaraltı Aile Çay Bahçesi,208,İstanbul,"Çengelköy Mahallesi, Çınaraltı Camii Sokak, No...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052620,41.050280,"Fast Food, Izgara, Seafood, Tea, Coffee",...,0,0,0,0,2,4.5,3F7E00,Excellent,1172,Turkey
7524,5923535,Boon Cafe & Restaurant,208,İstanbul,"Çengelköy Mahallesi, Çengelköy Caddesi, Kara S...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052623,41.050717,Restaurant Cafe,...,0,0,0,0,4,4.2,5BA829,Very Good,1160,Turkey
7525,5914190,Kanaat Lokantası,208,İstanbul,"Sultantepe Mahallesi, Selmani Pak Caddesi, No ...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.016590,41.025741,"Home-made, Izgara",...,0,0,0,0,3,4.0,5BA829,Very Good,770,Turkey
7526,5913508,Katibim,208,İstanbul,"Mimar Sinan Mahallesi, Harem Sahilyolu, No 53,...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.010808,41.025501,"Restaurant Cafe, Kebab, Turkish Pizza",...,0,0,0,0,4,4.2,5BA829,Very Good,1141,Turkey

# GERAL

### 1. Quantos restaurantes únicos estão registrados?

In [10]:
n_restaurante = df_limpo['Restaurant Name'].unique()
rest_unico = len(n_restaurante)
print(f'Número de restaurantes únicos: {rest_unico}')

Número de restaurantes únicos: 5914

### 2. Quantos países únicos estão registrados?

In [11]:
n_pais = df_limpo['Country'].unique()
pais_unico = len(n_pais)
print(f'Número de países únicos: {pais_unico}')

Número de países únicos: 15

### 3. Quantas cidades únicas estão registradas?

In [12]:
n_cidade = df_limpo['City'].unique()
cidade_unico = len(n_cidade)
print(f'Número de cidades únicas: {cidade_unico}')

Número de cidades únicas: 125

### 4. Qual o total de avaliações feitas?

In [13]:
n_aval = df_limpo['Aggregate rating'].count()
print(f'Total de avaliações: {n_aval}')

Total de avaliações: 7527

### 5. Qual o total de tipos de culinária registrados?

In [14]:
t_culinaria = df_limpo['Cuisines'].unique()
print(f'Total de tipos de culinária: {t_culinaria}')

Total de tipos de culinária: ['Italian' 'European, Asian' 'Filipino, American, Italian, Bakery' ...
 'Fast Food, Izgara, Seafood, Tea, Coffee' 'Home-made, Izgara'
 'Restaurant Cafe, Kebab, Turkish Pizza']

In [15]:
t_culinaria = df_limpo['Cuisines'].nunique()
print(f'Total de tipos de culinária: {t_culinaria}')

Total de tipos de culinária: 2832

# PAÍS

### 1. Qual o nome do país que possui mais cidades registradas?

In [16]:
cidade_pais = df_limpo.groupby('Country')['City'].nunique().sort_values(ascending=False).head(1)
cidade_pais

Country
India    49
Name: City, dtype: int64

### 2. Qual o nome do país que possui mais restaurantes registrados?

In [17]:
restaurante_pais = df_limpo.groupby('Country')['Restaurant ID'].nunique().sort_values(ascending=False).head(1)
restaurante_pais

Country
India    3120
Name: Restaurant ID, dtype: int64

### 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a registrados?

In [18]:
preco = df_limpo.groupby('Country')['Price range'].nunique().sort_values(ascending=False).head(1)
preco

Country
Australia    4
Name: Price range, dtype: int64

### 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

In [19]:
pais_cozinha = df_limpo.groupby('Country')['Cuisines'].count().sort_values(ascending=False).head(1)
pais_cozinha

Country
India    3496
Name: Cuisines, dtype: int64

### 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [20]:
avaliacao_pais = df_limpo.groupby('Country')['Aggregate rating'].count().sort_values(ascending=False).head(1)
avaliacao_pais

Country
India    3507
Name: Aggregate rating, dtype: int64

### 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [21]:
restaurante_entrega = df_limpo[df_limpo['Has Online delivery'] == 1]
pais_entrega = restaurante_entrega.groupby("Country").size().sort_values(ascending=False).head(1)
pais_entrega

Country
India    2365
dtype: int64

### 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [22]:
restaurante_reserva = df_limpo[df_limpo['Has Table booking'] == 1]
pais_reserva = restaurante_reserva.groupby("Country").size().sort_values(ascending=False).head(1)
pais_reserva

Country
India    291
dtype: int64

### 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [23]:
pais_maior_avaliacao = df_limpo.groupby("Country")['Votes'].mean().sort_values(ascending=False).head(1).round(2)
pais_maior_avaliacao

Country
Indonesia    1115.32
Name: Votes, dtype: float64

### 9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [24]:
pais_nota_maior = df_limpo.groupby("Country")['Aggregate rating'].mean().sort_values(ascending=False).head(1).round(2)
pais_nota_maior

Country
Indonesia    4.6
Name: Aggregate rating, dtype: float64

### 10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [25]:
pais_nota_menor = df_limpo.groupby("Country")['Aggregate rating'].mean().sort_values(ascending=True).head(1).round(2)
pais_nota_menor

Country
Brazil    3.35
Name: Aggregate rating, dtype: float64

### 11. Qual a média de preço de um prato para dois por país?

In [26]:
pais_preco2 = df_limpo.groupby("Country")['Average Cost for two'].mean().sort_values(ascending=False).head(1).round(2)
pais_preco2

Country
Indonesia    312682.93
Name: Average Cost for two, dtype: float64

# CIDADE

In [54]:
# todas as cidades
df_limpo['City'].unique()

array(['Las Piñas City', 'Makati City', 'Mandaluyong City', 'Manila',
       'Marikina City', 'Muntinlupa City', 'Pasay City', 'Pasig City',
       'Quezon City', 'San Juan City', 'Tagaytay City', 'Taguig City',
       'Brasília', 'Rio de Janeiro', 'São Paulo', 'Adelaide', 'Atlanta',
       'Austin', 'Boston', 'Brisbane', 'Calgary', 'Charlotte', 'Chicago',
       'Dallas', 'Denver', 'Detroit', 'Houston', 'Las Vegas',
       'Los Angeles', 'Miami', 'Montreal', 'New Orleans', 'New York City',
       'Ottawa', 'Perth', 'Philadelphia', 'Phoenix', 'Portland',
       'San Antonio', 'San Diego', 'San Francisco', 'Seattle',
       'Singapore', 'Washington DC', 'Abu Dhabi', 'Dubai', 'Fujairah',
       'Sharjah', 'Agra', 'Ahmedabad', 'Allahabad', 'Amritsar',
       'Aurangabad', 'Bangalore', 'Bhopal', 'Bhubaneshwar', 'Chandigarh',
       'Chennai', 'Coimbatore', 'Dehradun', 'Gandhinagar', 'Gangtok',
       'Ghaziabad', 'Goa', 'Gurgaon', 'Guwahati', 'Hyderabad', 'Indore',
       'Jaipur', 'Kanpur', 'Kochi', 'Kolkata', 'Lucknow', 'Ludhiana',
       'Mangalore', 'Mohali', 'Mumbai', 'Mysore', 'Nagpur', 'Nashik',
       'Nasik', 'New Delhi', 'Noida', 'Ooty', 'Panchkula', 'Patna',
       'Puducherry', 'Pune', 'Ranchi', 'Secunderabad', 'Shimla', 'Surat',
       'Thane', 'Vadodara', 'Varanasi', 'Vizag', 'Zirakpur', 'Bogor',
       'Jakarta', 'Tangerang', 'Auckland', 'Hamilton', 'Wellington',
       'Wellington City', 'Birmingham', 'Edinburgh', 'Glasgow', 'London',
       'Manchester', 'Doha', 'Cape Town', 'Clarens', 'Durban',
       'East Rand', 'Inner City', 'Johannesburg', 'Johannesburg South',
       'Midrand', 'Pretoria', 'Randburg', 'Roodepoort', 'Sandton',
       'Colombo', 'Ankara', 'İstanbul'], dtype=object)

### 1. Qual o nome da cidade que possui mais restaurantes registrados?

In [27]:
cidade_restaurante = df_limpo.groupby('City')['Restaurant ID'].nunique().sort_values(ascending=False).head(1)
cidade_restaurante

City
Abu Dhabi    80
Name: Restaurant ID, dtype: int64

### 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

In [28]:
cdd_avaliacao = df_limpo.groupby('City')['Aggregate rating'].mean().round(2).head(1)
melhor_avaliacao = cdd_avaliacao[cdd_avaliacao > 4]
melhor_avaliacao

City
Abu Dhabi    4.25
Name: Aggregate rating, dtype: float64

### 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

In [29]:
cdd_avaliacao_pior = df_limpo.groupby('City')['Aggregate rating'].mean().round(2)
pior_avaliacao = cdd_avaliacao_pior[cdd_avaliacao_pior < 2.5]
pior_avaliacao

City
Gangtok    1.64
Ooty       2.45
Name: Aggregate rating, dtype: float64

### 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [30]:
cdd_avaliacao_p2 = df_limpo.groupby('City')['Average Cost for two'].mean().sort_values(ascending=False).round(2).head(1)
cdd_avaliacao_p2

City
Adelaide    416734.13
Name: Average Cost for two, dtype: float64

### 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

In [31]:
tipos_culinaria_cdd = df_limpo.groupby('City')['Cuisines'].nunique().sort_values(ascending=False).head(1)
tipos_culinaria_cdd

City
Mangalore    75
Name: Cuisines, dtype: int64

### 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

In [32]:
rest_c_reserva = df_limpo[df_limpo['Has Table booking'] == 1]
cdd_reserva = rest_c_reserva.groupby('City')['Has Table booking'].count().sort_values(ascending=False).head(1)
cdd_reserva

City
Bangalore    47
Name: Has Table booking, dtype: int64

### 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

In [33]:
rest_entrega = df_limpo[df_limpo['Is delivering now'] == 1]
cidade_entrega = rest_entrega['City'].value_counts().head(1)
cidade_entrega

City
Aurangabad    53
Name: count, dtype: int64

### 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [34]:
rest_online = df_limpo[df_limpo['Has Online delivery'] == 1]
rest_online_cdd = rest_online['City'].value_counts().head(1)
rest_online_cdd

City
Abu Dhabi    86
Name: count, dtype: int64

# RESTAURANTES

In [55]:
df_limpo['Restaurant Name'].nunique()

5914

### 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

In [35]:
rest_qnt_avaliacao = df_limpo.groupby('Restaurant Name')['Aggregate rating'].count().sort_values(ascending=False).head(1)
rest_qnt_avaliacao

Restaurant Name
Domino's Pizza    204
Name: Aggregate rating, dtype: int64

### 2. Qual o nome do restaurante com a maior nota média?

In [36]:
rest_melhor = df_limpo.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=False).head(1)
rest_melhor

Restaurant Name
Earl of Sandwich    4.9
Name: Aggregate rating, dtype: float64

### 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

In [37]:
prato_caro = df_limpo.groupby('Restaurant Name')['Average Cost for two'].max().sort_values(ascending=False).head(1)
prato_caro

Restaurant Name
d'Arry's Verandah Restaurant    25000017
Name: Average Cost for two, dtype: int64

### 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

In [38]:
comida_br = df_limpo[df_limpo['Cuisines'] == "Brazilian"]
comida_br_ruim = comida_br.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=True).head(1)
comida_br_ruim

Restaurant Name
Rancho Inn    0.0
Name: Aggregate rating, dtype: float64

### 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

In [39]:
comida_br_doBR = df_limpo[(df_limpo['Cuisines'] == "Brazilian") & (df_limpo['Country'] == "Brazil")]
comida_br_melhor = comida_br_doBR.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=False).head(1)
comida_br_melhor

Restaurant Name
Aprazível    4.9
Name: Aggregate rating, dtype: float64

### 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

In [40]:
# Pedidos online
pedido_online = df_limpo[df_limpo['Has Online delivery'] == 1]
restaurante_online = pedido_online['Aggregate rating'].mean()

# Pedidos não online
pedido_n_online = df_limpo[df_limpo['Has Online delivery'] == 0]
restaurante_n_online = pedido_n_online['Aggregate rating'].mean()

# Comparaçao
print(f"A média de restaurantes que aceitam pedidos online: {restaurante_online:.2f}")
print(f'A média de restaurantes que não aceitam pedidos online: {restaurante_n_online:.2f}')

if restaurante_online > restaurante_n_online:
    print('SIM, restaurantes com entrega online têm melhores avaliações em média')
else:
    print('NÃO, restaurantes com entrega online NÃO têm melhores avaliações em média')

A média de restaurantes que aceitam pedidos online: 4.11
A média de restaurantes que não aceitam pedidos online: 4.12
NÃO, restaurantes com entrega online NÃO têm melhores avaliações em média

### 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

In [41]:
rest_reserva = df_limpo[df_limpo['Has Table booking'] == 1]
rest_reserva_mean = rest_reserva['Average Cost for two'].mean()
print(f'A média de preço de pratos para dois COM reserva é: {rest_reserva_mean:.2f}')

rest_s_reserva = df_limpo[df_limpo['Has Table booking'] == 0]
rest_s_reserva_mean = rest_s_reserva['Average Cost for two'].mean()
print(f'A média de preço de pratos para dois SEM reserva é: {rest_reserva_mean:.2f}')

print("Restaurantes COM reserva:", len(rest_reserva))
print("Restaurantes SEM reserva:", len(rest_s_reserva))

if rest_reserva_mean > rest_s_reserva_mean:
    print('SIM, os restaurantes que tem reserva tem pratos para dois mais caros')
elif rest_reserva_mean < rest_s_reserva_mean: 
    print('NÃO, os restaurantes que tem reserva não tem pratos para dois mais caros')
else:
    print('EMPATE, os preços médios são IGUAIS')

A média de preço de pratos para dois COM reserva é: 62931.51
A média de preço de pratos para dois SEM reserva é: 62931.51
Restaurantes COM reserva: 468
Restaurantes SEM reserva: 7059
SIM, os restaurantes que tem reserva tem pratos para dois mais caros

### 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

In [42]:
comida_japan_eua = df_limpo[(df_limpo['Cuisines'] == "Japanese") & (df_limpo['Country'] == "United States")]
comida_japan_eua_mean = comida_japan_eua['Average Cost for two'].mean()
print(f'Média de preços de restaurantes de comida japonesa nos EUA: {comida_japan_eua_mean:.2f}')

churras_eua = df_limpo[(df_limpo['Cuisines'] == "BBQ") & (df_limpo['Country'] == "United States")]
churras_eua_mean = churras_eua['Average Cost for two'].mean()
print(f'Média de preços de churrascaria nos EUA: {churras_eua_mean:.2f}')

if comida_japan_eua_mean == churras_eua_mean:
    print('Não há diiferença de valor para pratos que servem duas pessoas')
elif comida_japan_eua_mean > churras_eua_mean:
    print('Comida japonesa tem preço maior que churrascaria em pratos que servem duas pessoas')
else:
    print('A churrascaria tem preço maior que a comida japonesa para pratos que servem duas pessoas')

Média de preços de restaurantes de comida japonesa nos EUA: 40.00
Média de preços de churrascaria nos EUA: 39.71
Comida japonesa tem preço maior que churrascaria em pratos que servem duas pessoas

# Tipos de Culinária

### 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [43]:
comida_italian = df_limpo[df_limpo['Cuisines'] == 'Italian']
comida_italian_melhor = comida_italian.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=False).head(1)
comida_italian_melhor

Restaurant Name
Bottega Louie    4.9
Name: Aggregate rating, dtype: float64

### 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [44]:
comida_italian_pior = comida_italian.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=True).head(1)
comida_italian_pior

Restaurant Name
La Bocca Bar e Trattoria    0.0
Name: Aggregate rating, dtype: float64

### 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [45]:
comida_eua = df_limpo[df_limpo['Cuisines'] == 'American']
comida_eua_melhor = comida_eua.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=False).head(1)
comida_eua_melhor

Restaurant Name
S'MAC    4.9
Name: Aggregate rating, dtype: float64

### 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [46]:
comida_eua_pior = comida_eua.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=True).head(1)
comida_eua_pior

Restaurant Name
Alston Bar & Beef    0.0
Name: Aggregate rating, dtype: float64

### 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [47]:
comida_arabic = df_limpo[df_limpo['Cuisines'] == 'Asian']
comida_arabic_melhor = comida_arabic.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=False).head(1)
comida_arabic_melhor

Restaurant Name
Gioi    4.8
Name: Aggregate rating, dtype: float64

### 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [48]:
comida_arabic_pior = comida_arabic.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=True).head(1)
comida_arabic_pior

Restaurant Name
wagamama    3.6
Name: Aggregate rating, dtype: float64

### 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [49]:
melhor_japan = comida_japan.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=False).head(1)
melhor_japan

NameError: name 'comida_japan' is not defined

### 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
pior_japan = comida_japan.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=True).head(1)
pior_japan

### 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
comida_caseira = df_limpo[df_limpo['Cuisines'] == 'Home-made']
melhor_caseira = comida_caseira.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=False).head(1)
melhor_caseira

### 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [50]:
comida_caseira = df_limpo[df_limpo['Cuisines'] == 'Home-made']
pior_caseira = comida_caseira.groupby('Restaurant Name')['Aggregate rating'].mean().sort_values(ascending=True).head(1)
pior_caseira

Restaurant Name
GurMekan Restaurant    3.7
Name: Aggregate rating, dtype: float64

### 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [51]:
melhor_culinaria_p2 = df_limpo.groupby('Cuisines')['Average Cost for two'].mean().sort_values(ascending=False).head(1)
melhor_culinaria_p2

Cuisines
Modern Australian, Australian    25000017.0
Name: Average Cost for two, dtype: float64

### 12. Qual o tipo de culinária que possui a maior nota média?

In [52]:
melhor_culinaria = df_limpo.groupby('Cuisines')['Aggregate rating'].mean().sort_values(ascending=False).head(1)
melhor_culinaria

Cuisines
Chinese, Fusion, Asian    4.9
Name: Aggregate rating, dtype: float64

### 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [53]:
rest_online_entrega = df_limpo[(df_limpo['Has Online delivery'] == 1) & (df_limpo['Has Table booking'] == 1)]

culinaria_online_rest = rest_online_entrega['Cuisines'].value_counts().head(1)
culinaria_online_rest

Cuisines
Pizza, Italian, Fast Food, Beverages, Desserts    6
Name: count, dtype: int64